# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/

# React Native
*.log
*.tmp
*.lock
*.swp
.DS_Store

# Metro
.metro-health-check*

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Mac
.DS_Store
